/* Availability Main Div */

.availability__container {
    width: 850px;
    min-height: 200px;
}

.availability {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Availability Options */

.av__opts {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

.av__day {
    display: inherit;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 150px;
    padding: 2px;
}

.av__day:nth-child(n) {
    border-right: solid lightgray 1px;
}

.av__day:last-child {
    border: none;
}

.av__day__opt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: grey;
    margin: 0.5rem;
    border-radius: 0.25rem;
}

.av__day__opt__tim {
    font-size: 12px;
    text-align: left;
}

.av__sel {
    background-color: salmon;
}

/* Buttons */

.av__edi {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */

.av__form__list {
    display: flex;
    flex-direction: row;
}

.av__form__list__element {
    position: relative;
    display: flex;
}

.av__form__list__element__checkbox{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    user-select: all;
    border: 1px solid black;
}

.av__form__list__element__checkbox:checked {
    border-radius: 50%;
    background-color: red;
}

.av__form__list__element__label {
    float: left;
    position: absolute;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

@media (max-width: 500px) {
    .av__opts {
        flex-direction: column;
    }

    .av__day:nth-child(n) {
        border-right: none;
        border-bottom: solid lightgray 1px;
    }

    .av__form__list {
        flex-direction: column;
        text-align: center;
    }

    .av__form__list__element {
        justify-content: center;
    }
}