@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Containers */

#root {
    height: 100vh;
}

.site-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: scroll;
}

.content-wrapper {
    flex: 1 0 auto;
}

/* Padding & Margin */

.pd4 {
    padding-left: 16px;
    padding-right: 16px;
}

.pd6-top {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Fonts */

.rb_reg {
    font-family: 'Roboto', sans-serif;
}

.rb_bld_h1 {
    font-size: 32pt;
    font-weight: 700;
}

.rb_bld_h4 {
    font-size: 20pt;
    font-weight: 500;
}