.playerinfo {
    display: flex;
    flex-direction: column;
    width: 85%;
    /* margin: 15px; */
}

.playerinfo__form__fields {
    display: flex;
    flex-direction: column;
}

.playerinfo__text__input {
    max-width: 100%;
}

.playerinfo__form__controls {
    display: flex;
    flex-direction: row;
}


