/* Navbar */

.nav {
    background-color: var(--gBlack);
    height: 60px;
    position: static;
}

.nav__container {
    color: white;
    margin: 0 auto;

    height: inherit;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Nav Control(s) elements */

.nav__controls {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
 
.nav__hamburger {
    background-color: var(--gLightGray);
    border: 1px solid var(--gGray);
    border-radius: 0.25rem;
}

.nav__account {
    display: flex;
    flex-direction: row;
    width: inherit;
    /* max-width: 15rem; */
}

.nav__account_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__account_info > *, .nav__account_info::after, .nav__dropdown_button_inner {
    margin: 0 0.25rem;
}

.nav__dropdown {
    background-color: red;
    position: absolute;
    display: none;
}

.nav__dropdown_visible {
    display: block;
    width: 100%;
}

.nav__dropdown_element {
    background-color: var(--gLightGray);
    width: 100%;
    text-align: left;
}

.nav__dropdown_button {
    background-color: var(--gLightGray);
    padding: 0;
}

.nav__dropdown_button_inner {
    transition:  150ms ease;
}

.nav__account {
    cursor: pointer;
    padding: 0.25rem;
    z-index: 100;
}

.nav__account_pfp {
    border: 2px solid white;
    border-radius: 100%;
    height: 35px;
    width: 35px;
}

/* Nav Media Queries */

@media screen and (max-width: 960px) {
    .nav__dropdown {
        position: absolute;
        background-color: blue;
        height: 100%;

        top: 0;
        right: -100%;
    }

    .nav__dropdown_visible {
        animation: slidein 350ms forwards;
        width: 75%;
        z-index: 9999;
    }

    .nav__dropdown_button {
        display: none
    }

    .nav__account_info > p, .nav__account_info::after {
        content: none;
        display: none;
    }
}

@media screen and (min-width: 960px) {
    .nav__hamburger {
        position: relative;
        min-width: 150px;
    }

    .nav__dropdown_visible {
        z-index: 0;
    }
}

/* Nav Animations */

.animate {
    transform: rotate(90deg);
}

@keyframes slidein{
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}