.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.account__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-right: 1px solid black;
}

.player__info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.account__info__details {
    display: flex;
    flex-direction: column;
}

.account__info__avatar {
    /* height: 150px; */
    width: 150px;
    border-radius: 100%;
}

.account__forms {
    width: 900px;
    box-sizing: border-box;
}

.account__consumable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 500px) {
    .account__info {
        width: 100%;
    }

    .account__forms {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 1050px) {
    .account {
        flex-direction: column;
        align-items: center;
    }

    .account__info {
        border: none;
        width: 100%;
    }
}