/* TODO: REFACTOR AND RENAME CSS */



/* Check Boxes */

.test {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
    user-select: all;
    text-decoration: dashed;
    border: 1px solid black;
}

.test:checked {
    border-radius: 50%;
    background-color: red;
}

label {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}

ul {
    display: flex;
}

ul > li, ul > li > div {
    display: flex;
    flex-direction: column;
}

ul > li > div, ul > li {
    display: flex;
    position: inherit;
    align-items: center;
    justify-content: center;
}
