.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    max-width: 1100px;
}

.account > .account__info {
    border-right: 1px solid black;
}

.account__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.player__info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.account__info__details {
    display: flex;
    flex-direction: column;
}

.account__info__avatar {
    /* height: 150px; */
    width: 150px;
    border-radius: 100%;
}

.account__forms {
    width: 900px;
    box-sizing: border-box;
}

.account__consumable {
    display: flex;
    flex-direction: column;
    align-items: center;
}