.main__container__content {
    max-width: 1200px;
    margin: 20px auto;
}

.main__container__content > div {
    min-height: 500px;
}

.main__container__bg {
    z-index: 1;
    background-image: url("../../../public/images/home_background.webp") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: inset 0px 0px 200px black, 0px 6px 25px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--gBlack);
    height: 675px !important;
    margin: 0 auto;
}

.main__container__cover {
    padding: 4rem 2rem;
}

.main__container__title {
    color: var(--gWhite);
    text-align: center;
}

.main__container__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container__button {
    text-align: center;
    background-color: var(--oBlue);
    color: var(--gWhite);
    margin: 0.25rem;
    padding: 10px;
    width: 300px;
}

.main__container__button__schedule {
    /* background-color: var(--gLightGray); */
}

.main__container__button__signin {
    /* background-color: var(--oBlue); */
}

@media (max-width: 500px) or (max-width: 1200px) {
    .main__container__content {
        width: 90%;
    }

    .main__container__bg {
        height: 300px !important;
        background-position: right center;
    }
}