@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./colors.css");

/* Elements */

/* .edit, .submit, .cancel {
    padding: 0.25rem;
    width: 4rem;
    height: 2rem;
    border-radius: 3px;
    text-align: center;

} */

/* .edit, .submit {
    background-color: var(--oBlue);
    color: white;
} */

.cancel {
    background-color: var(--erRed);
}

.btn {
    background-color: darkgray;
    border-radius: 2px;
    padding: 0.25rem 0.75rem;
    width: max-content;
    cursor: pointer;
}

/* Paddings */

.pd4 {
    padding-left: 16px;
    padding-right: 16px;
}

.pd6t {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Fonts */

.robfont {
    font-family: 'Roboto', sans-serif;
}