.schedule {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-width: 50%;
}

.schedule__header {
    text-align: center;
}

.schedule__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.schedule__day {
    background-color: #dce2e3;
    border-radius: var(--radius-5);

    width: 140px;
    height: auto;
    min-height: 165px;

    margin: 0.2rem;
    padding: 0.5rem;
}

.schedule__day__header {
    border-radius: 3px 3px 0 0;
    background-color: var(--gBlack);
    color: var(--gWhite);
    font-size: 1rem !important;
}

.schedule__day > p {
    text-align: center;
}

/* Schedule Timezone */

/* TEMP */
.schedule__timezone {
    background-color: black;
    border-radius: var(--radius-5);
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 0.75rem;
    padding: 3px;
    text-align: center;
    width: 30px;
}

@media (max-width: 1050px) {
    .schedule__day {
        width: 250px;
        height: 300px;
    }
}